
<% if @question.answer.downcase!=@answer.answer.downcase %>
<div class="well">
  <h2><%= @question.question %></h2>
  <p class="text-danger">Wrong Answer</p>
  <p class=""> Correct Answer is -> <%=@question.answer%></p>
  <%= link_to "Back to Questions", questions_path, :class => 'btn btn-default text-center' %>
  </div>
  <% else %>
  <div class="well">
    <h2><%= @question.question %></h2>
    <h4><%= @answer.answer %></h4>
    <p class="text-success">Correct Answer</p>
    <%= link_to "Back to Questions", questions_path, :class => 'btn btn-default text-center' %>
    </div>
<% end %>
