<div class="well text-center">
	<%= @categories%>
	<%=simple_form_for :category, url: new_category_question_path(Category.all), method: 'GET', class: '' do  %>
	  <div class='form-group'>
	    <center><h4>Select a category to create your trivia question</h4></center>
	    <hr>
	    <center><%=collection_select(:question, :category_id, Category.all, :id, :name, {}, {:multiple => false})%></center>

	  </div>
	  <hr>
	  <center>
		  <div class='form-group'>
		    <%= submit_tag 'Select Category', :class=>'btn btn-default' %>
		  </div>
		</center>
	<% end %>
<h1>OR</h1>
<hr>
<%= render 'categories/new'%>
</div>
